#game-space{
	display: flex;
}

#board{
	display: inline-block;
	margin: 20px;
	border: 1px solid black;
	background-color: yellow;
  display: flex;
}

.col {
  flex-direction: row-reverse;
}

.col div{
	width:  50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 50%;
	margin: 5px;
}

.empty{
	background-color: white;
}

.red {
	background-color: red;
}

.black {
	background-color: black;
}

.game-controller{
	display: flex;
	background-color: gray;
	border: 1px solid black;
	border-radius: 20px;
	height: 200px;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 200px;
}

h3{
	color: white;
}

button{
	margin-top: 20px;
}
